<template>

    <div class="container top-margin">
        <div class="row">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>
    </div>

</template>
<script>
    export default {
    }
</script>