<template>
    <div class="main-wrapper">
        <topNavbar></topNavbar>
        <container></container>
    </div>
</template>
<script>
    import topNavbar from './topNavbar';
    import container from './container';
    export default {
        components: {
            topNavbar,
            container
        }
    }
</script>
<style>
    .container {
        margin-top: 30px;
    }
</style>