<template>
    <b-navbar toggleable="md" type="light" variant="info">

        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-navbar-brand href="#">
            <router-link to="/" class="navbar-brand">
                <strong>Home</strong>
            </router-link>
        </b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">

            <b-navbar-nav>
                <b-nav-item href="#">
                    <router-link to="/teams" class="head-link">
                        Teams
                    </router-link>
                </b-nav-item>
                <b-nav-item href="#">
                    <router-link to="/players" class="head-link">
                        players
                    </router-link>
                </b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">

                <b-nav-item-dropdown right>
                    <!-- Using button-content slot -->
<!--                    <template slot="button-content">
                        <strong>User</strong>
                    </template>
                    <b-dropdown-item href="#">Profile</b-dropdown-item>
                    <b-dropdown-item href="#">Signout</b-dropdown-item>-->
                </b-nav-item-dropdown>
            </b-navbar-nav>

        </b-collapse>
    </b-navbar>

</template>
<style>
    .head-link {
        style: none;
        color: white;
        font-size: 18px;
    }
    .head-link a:hover {
        color: white;
        text-underline: white;
    }
</style>