<template>
    <mainLayout></mainLayout>
</template>
<script>
    import mainLayout from './layout/mainLayout';
    export default {
        components: {
            mainLayout,
        }
    }
</script>