<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Overview</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b-card overlay
                        img-src="https://images.unsplash.com/photo-1508098682722-e99c43a406b2"
                        bg-variant="dark" text-variant="white" :title="`${teams.length} teams`">
                    <p class="card-text">
                        Play this tournament
                    </p>
                </b-card>
            </div>
            <div class="offset-6 col-md-3">
                <b-card overlay
                        img-src="https://images.unsplash.com/photo-1480563597043-1c877e682fc7"
                        bg-variant="success" text-variant="white" :title="`${players.length} players`">
                    <p class="card-text">
                        will give their best
                    </p>
                </b-card>
            </div>
        </div>
        <div style="margin-top: 30px" class="row">
            <div class="offset-1 col-md-6">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th># Players</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(t, i) in teams" :key="i" @click="listPlayers(t)">
                        <td>{{ i + 1 }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.players.length }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h2>Players of {{ team.name }}</h2>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="team.players == 0">
                        <td colspan="2">This team not have players</td>
                    </tr>
                    <tr v-for="(p, i) in team.players" :key="i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ p.first_name }} {{ p.last_name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        components: {
        },
        created() {
            this.getTeams();
            this.getPlayers();
        },
        data() {
            return {
                teams: [],
                players: [],
                team: {}
            }
        },
        methods: {
            getTeams() {
                let uri = "api/team";
                this.axios.get(uri).then(response => {
                    this.teams = response.data.data;
                });
            },
            getPlayers() {
                let uri = "api/player";

                this.axios.get(uri).then(response => {
                    this.players = response.data;
                });
            },
            listPlayers(team) {
                this.team = team;
            }
        }
    }
</script>