<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Players</h1>
            </div>
            <div class="col-md-2 text-right">
                <b-btn  v-b-modal.playerModal>Add Player</b-btn>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Full Name</th>
                            <th>Team</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(p, i) in players" :key="i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ `${p.first_name} ${p.last_name}` }}</td>
                            <td>{{ p.player_of.name }}</td>
                            <td class="text-right">
                                <b-btn @click="editPlayer(p)" variant="primary">Edit</b-btn>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <b-modal id="playerModal" ref="playerModal" title="Adding a new team" @ok="updatePlayer" @hide="resetModal">
            <form @submit.stop.prevent="updatePlayer">
                <label for="">First Name</label>
                <b-form-input type="text" placeholder="Enter First name" v-model="player.first_name"></b-form-input>
                <br />
                <label for="">Last Name</label>
                <b-form-input type="text" placeholder="Enter Last name" v-model="player.last_name"></b-form-input>
                <br />
                <label for="">Team</label>
                <select id="" class="form-control" v-model="player.team_id">
                    <option value=""></option>
                    <option v-for="(t, i) in teams" :key="i" :value="t.id" >
                        {{ t.name }}
                    </option>
                </select>
            </form>
        </b-modal>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                players: [],
                player: {},
                newPlayer: {},
                teams: []
            }
        },
        created() {
            this.getPlayers();
            this.getTeams();
        },
        methods: {
            getPlayers() {
                let uri = "api/player";

                this.axios.get(uri).then(response => {
                    this.players = response.data;
                });
            },
            resetModal() {
                this.player = {};
            },
            editPlayer(player) {
                this.player = player;

                this.$refs.playerModal.show();
            },
            updatePlayer() {
                var headerRequest = null;
                if(!!this.player.id) {
                    let uri = `api/player/${this.player.id}`;

                    headerRequest = this.axios.patch(uri, this.player);
                }
                else {
                    let uri = 'api/player';

                    headerRequest = this.axios.post(uri, this.player);
                }

                headerRequest.then(response => {
                    if(response.status === 201) {
                        this.$swal("Updated successfuly", "", "success");
                    }
                    else {
                        this.$swal("something was wrong", "", "warning");
                    }
                    this.getPlayers();
                });
            },
            getTeams() {
                let uri = "api/team";
                this.axios.get(uri).then(response => {
                    this.teams = response.data.data;
                });
            },
        }
    }
</script>
