<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Teams List</h1>
            </div>
            <div class="col-md-2 text-right">
                <b-btn  v-b-modal.teamModal>Add Team</b-btn>
            </div>
        </div>

        <br class="my-3" />

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th># Players</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(t, i) in teams" :key="i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.players.length }}</td>
                        <td class="text-right">
                            <b-btn @click="showPlayers(t)" variant="success">Players</b-btn>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <b-modal id="playerModal" ref="playersModal" size="lg" :title="`Team ${team.name}`">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(p, i) in team.players" :key="i">
                        <td>{{ p.first_name }}</td>
                        <td>{{ p.last_name }}</td>
                    </tr>
                </tbody>
            </table>
        </b-modal>

        <b-modal id="teamModal" ref="newTeamModal" title="Adding a new team" @ok="handleNewTeam">
            <form @submit.stop.prevent="handleNewTeam">
                <b-form-input type="text" placeholder="Enter Team name" v-model="newTeam.name"></b-form-input>
            </form>
        </b-modal>
    </div>
</template>
<script>
    export default {
        components: {
        },
        created() {
            this.getTeams();
        },
        data() {
            return {
                teams: [],
                team: {},
                newTeam: {},
            }
        },
        methods: {
            getTeams() {
                let uri = "api/team";
                this.axios.get(uri).then(response => {
                    this.teams = response.data.data;
                });
            },
            showPlayers(team) {
                this.team = team;
                this.$refs.playersModal.show();
            },
            handleNewTeam() {
                let uri = 'api/team';
                this.axios.post(uri, this.newTeam).then(response => {
                    if(response.status === 201) {
                        this.$swal("Created Successfully", "", "success");
                    }
                    else {
                        this.$swal("Something was wrong", "", "warning");
                    }
                    this.getTeams();
                });
            }
        }
    }
</script>
